/* ======== gallery stuff ========== */
.swipe {
  padding-bottom:20px;
  padding: 0em;
  border: 2px solid black;
}


.gallery {
	background-color: black;
	border: 1px solid black;
	border-radius:15px;
	margin: 1em;
	padding: 0;
	user-select: none;
}


.gallery .swipe {
	margin:0;
	padding:0;
	border:0;
	background-color: white;
	border: 1px solid black;
}


/* content wrapper */
.swipe ul {
	border: 0px solid purple;
	padding: 0;
	margin: 0;
	width: 480px;
	height: 300px;
}
/* actual content */
.swipe ul li {
	text-align: center;
	border: 0px solid red;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	list-style: none;
}


/* nav stuff */
.gallery h5, .gallery nav {
	color: gray;
	border: 0px solid green;
	padding: 0;
	margin: 0;
	text-align: center;
	padding-bottom: 8px;
}

.gallery h5 {
	color: #fff;
	font-family: sans-serif;
	font-weight: normal;
	padding: 0.3em 0em;
}


#position {	
	text-align: center;
	font-size: 30pt;
	line-height: 60%;
	padding: 0;
	margin: 0;
	color: gray;
}  

.gallery a {
	color: gray;
	text-decoration: none;
	font-family: sans-serif;
	font-weight: normal;
	padding-left: 1em;
	padding-right: 1em;
	cursor: pointer;
	color: #ddd;
	text-decoration: none;
	font-family: 'arial, 宋体';
}
.gallery a:hover {
	color: #fff;
}
.gallery nav em {
	font-style: normal;
	}
#position em { 
	border: 0px solid red; 
	margin: 0; padding: 0;
	vertical-align: bottom;
}
#position em.on {color:#fff;}

